# gitignore of ConfigureHC05Master

# ignore directories
Debug/
Release/
__vm/

# Visual Studio 2015/2017 cache/options directory
.vs/
*.vcxproj.filters

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates